body {
    margin: 0px;
    padding: 0px;
    background-color: skyblue;
    overflow:hidden;
}

#ground {
    height: 20%;
    width: 100%;
    display: block;
    position: absolute;
    top: 80%;
    background-color: rgb(92, 85, 85);
}

#ball {
    height: 10vh;
    width: 10vh;    
    display: block;
    position: absolute;
    top: 10%; /* 82.1%; */ 
    left: 30px;
    border-radius: 50%;
}

#ball img {
    height: 100%;
    width: 100%;
}

#ball:hover {
    cursor: pointer;
}